@import '../_colors.scss';

.home-page {
    width: 100%;
    background-color: $light-theme-background-color;
    // background-color: red;
    min-height: 100vh;

    .wrapper {
        width: 1200px;
        margin: 0 auto;

        @media screen and (max-width: 1250px) {
            width: 100%;
        }

        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}