@import '../../styles/colors.scss';

.todo-list-wrapper {
    // margin: 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    color: $light-theme-text-color;

    .todo-card {
        position: relative;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        background-color: $todo-card-color;
        padding: 1rem;
        min-width: 300px;
        max-width: 400px;
        min-height: 150px;
        box-shadow: 2px 2px 6px black;
        color: inherit;

        &__title {
            font-size: 1.5rem;
            color: inherit;
            margin-bottom: 0.5rem;
        }

        &__date-created {
            margin-top: auto;
            color: inherit;
            opacity: 0.6;
        }

        &__buttons {
            display: none;
        }

        &:hover {
            .todo-card__buttons {
                
                display: flex;
                gap: 0.5rem;
                position: absolute;
                right: 1rem;
                bottom: 1rem;

                .delete-button,
                .modify-button {
                    background-color: transparent;
                    border: none;
                    cursor: pointer;

                    svg {
                        height: 1.25rem;
                        width: 1.25rem;
                        
                        path {
                            fill: black;
                        }
                    }
                }

                .modify-button:hover {
                    svg {
                        path {
                            fill: rgb(208, 0, 255);
                        }
                    }
                }

                .delete-button:hover {
                    svg {
                        path {
                            fill: red;
                        }
                    }
                }

            }

        }


    }
}