@import '../../../styles/colors.scss';

.button-cta {
    padding: 0.5rem;
    background-color: $light-theme-cta;
    border: none;
    transition: all 0.2s ease-out;
    
    &:hover {
        cursor: pointer;
        background-color: rgba($light-theme-cta, 0.8);
    }
}